<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Rose Garden</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main id="main">
    <div class="container">
      <h1> The Rose Garden</h1>
      <%= yield %>
    </div>
  </main>

</body>
</html>
