<h1>Magic 8 Ball</h1>

<form action="/magic/result">
  <label for="">
    Enter your question
    <input type="textarea" name="question" required placeholder="Am I stupid?" autofocus>
  </label>
  <button>Answer Me!</button>
</form>
