<h1>Magic 8 Ball</h1>

<form action="/magic/result">
  <label for="">
    Enter your question
    <textarea type="" name="question" required placeholder="Am I stupid?" autofocus></textarea>
  </label>
  <button>Answer Me!</button>
</form>
