<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Search</title>
  <link rel="stylesheet" href="/css/books.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
  </nav>

  <h1>Welcome To Book Search</h1>




  <!-- dynamic content goes here -->

  <%= yield %>

  <!-- after yield -->

  <footer>&copy; COPYRIGHT RITIKA 2019 ALL RITES REVERSED</footer>

</body>
</html>
